$navy-blue: #17252A;
$dark-blue: #2B7A78;
$blue: #3AAFA9;
$light-blue: #DEF2F1;
$white: #FEFFFF;


.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $navy-blue;
  color: $blue;
  font-weight: 600;
}
