/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

$navy-blue: #17252A;
$dark-blue: #2B7A78;
$blue: #3AAFA9;
$light-blue: #DEF2F1;
$white: #FEFFFF;


* {
  font-family: 'Abel', sans-serif;
}
